* {
    /*outline: 1px solid #f0f;*/
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.newsFancyBox {
    color: #222;
    box-sizing: border-box;
    background: #ededed;
}
.newsFancyBox3 {
    color: #222;
    box-sizing: border-box;
    background: #ededed;
}

.mainbox {
    /*position: relative;*/
    display: block;
}

.mainbox .closeBtn {
    position: absolute;
    top: 40px;
    right: 5%;
    display: block;
    width: 70px;
    height: 23px;
    background: url("../img/page01/icon_newsBoxClose.png");
}

.newsTitle {
    margin: auto;
    text-align: center;
}

.newsTitle img {
    vertical-align: middle;
}

.contentBox {
    max-width: 1200px;
    margin: auto;
}


/*====pag1====*/

.newsFancyBox .photoBeef {
    position: relative;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}


/*====pag2====*/

.newsFancyBox .photoBeef2 {
    position: relative;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

.newsFancyBox .photoBeef2 img {
    width: 100%;
}


/*====pag3====*/

.newsFancyBox .photoBeef3 {
    position: relative;
    max-width: 1200px;
    height: 500px;
    margin: 40px auto 0 auto;
}


/*====pag4====*/

.newsFancyBox .photoBeef4 {
    position: relative;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

.newsFancyBox .photoBeef4 img {
    width: 100%;
}

.msgBox {
    text-align: center;
}

.msgBox .data {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
}

.msgBox .areaMain {
    font-family: "微軟正黑體";
    background: url(../img/page01/line_Box.gif) no-repeat;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
}

.newsBoxBd .titleMain {
    font-family: "微軟正黑體";
    max-width: 1000px;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
}

.newsBoxBd .text {
    font-family: "微軟正黑體";
    text-align: left;
    width: 70%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6em;
}

.newsFancyBox .btnMain {
    font-family: "微軟正黑體";
    width: 70%;
    max-width: 1000px;
    height: 60px;
    margin: 20px auto 0 auto;
    padding: 20px 0 0 0;
    border-top: 1px solid #222;
}
.newsFancyBox3 .btnMain {
    font-family: "微軟正黑體";
    width: 70%;
    max-width: 1000px;
    height: 60px;
    margin: 20px auto 0 auto;
    padding: 20px 0 0 0;
    border-top: 1px solid #222;
}

.newsFancyBox .btnMain a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}
.newsFancyBox3 .btnMain a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}


.newsFancyBox .btnMain .prev {
    position: relative;
    top: 15px;
    left: 40px;
    float: left;
    padding: 0 0 0 30px;
    background: url(../img/page01/icon_btnMainPrev.gif) no-repeat;
}
.newsFancyBox3 .btnMain .prev {
    position: relative;
    top: 15px;
    left: 40px;
    float: left;
    padding: 0 0 0 30px;
    background: url(../img/page01/icon_btnMainPrev.gif) no-repeat;
}

.newsFancyBox .btnMain .next {
    position: relative;
    top: 15px;
    float: right;
    padding: 0 30px 0 0;
    background: url(../img/page01/icon_btnMainNext.gif) no-repeat right;
}
.newsFancyBox3 .btnMain .next {
    position: relative;
    top: 15px;
    float: right;
    padding: 0 30px 0 0;
    background: url(../img/page01/icon_btnMainNext.gif) no-repeat right;
}

.photoBeef .bgPoint01 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/background/point.png") repeat;
    opacity: .5;
    z-index: 4;
}

.redGrapefruit1 {
    background: url("../img/slider/food/Redgrapefruit02.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0%;
    left: -2%;
    width: 20%;
    height: 45%;
    text-align: center;
    z-index: 1;
}

.redGrapefruit2 {
    background: url("../img/slider/food/Redgrapefruit01.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15%;
    height: 45%;
    z-index: 0;
}

.redGrapefruit3 {
    background: url("../img/slider/food/Redgrapefruit03.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 10%;
    height: 50%;
    z-index: 0;
}

.redGrapefruit4 {
    background: url("../img/slider/food/Redgrapefruit04.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 30%;
    left: -5%;
    width: 15%;
    height: 60%;
    z-index: 0;
}

.redGrapefruit5 {
    background: url("../img/slider/food/Redgrapefruit05.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: -5%;
    width: 15%;
    height: 50%;
    z-index: 0;
}

.redGrapefruit6 {
    background: url("../img/slider/food/Redgrapefruit05.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 19%;
    left: 10%;
    width: 16%;
    height: 55%;
    text-align: center;
    z-index: 1;
}

.redGrapefruit7 {
    background: url("../img/slider/food/Redgrapefruit02.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 15%;
    height: 50%;
    z-index: 0;
}

.redGrapefruit8 {
    background: url("../img/slider/food/Redgrapefruit03.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 60%;
    left: 0%;
    width: 18%;
    height: 65%;
    z-index: 0;
}

.redGrapefruit9 {
    background: url("../img/slider/food/Redgrapefruit04.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 55%;
    left: 6%;
    width: 15%;
    height: 60%;
    z-index: 0;
}

.redGrapefruit10 {
    background: url("../img/slider/food/Redgrapefruit01.png")no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 6%;
    width: 15%;
    height: 70%;
    z-index: 0;
}

.liveText {
    position: absolute;
    right: 34%;
    top: 2%;
    padding-top: 10px;
    width: 666px;
    height: 500px;
    font-family: "微軟正黑體";
    color: #fff;
}

.m1 span {
    font-size: 25px;
    margin-left: 100px;
}

.m2 {
    margin-top: 30px;
}

.m2 span {
    font-size: 18px;
    margin-left: 120px;
}

.m3 span {
    margin-left: 80px;
}

.m4 span {
    font-size: 25px;
    margin-left: 90px;
}

.m5 span {
    margin-left: 130px;
}

.m6 span {
    font-size: 20px;
    margin-left: 90px;
}


/*=============page2=============*/

.fork img {
    width: 5%;
    position: absolute;
    top: 400px;
    left: 2%;
}

.knife img {
    width: 6%;
    position: absolute;
    top: 600px;
    right: 2%;
}

.soccer img {
    position: absolute;
    width: 10%;
    top: 1100px;
    right: -5%;
}
.spoon img{
  display: none;
}

/*=============page3=============*/

#videoLive {
    position: relative;
    width: 1200px;
    height: 400px;
}

video {
    max-width: 100%;
    height: 400px;
}

.videoTxt {
    position: absolute;
    left: 950px;
    width: 250px;
}

.videoTxt h2 {
    font-size: 30px;
}

.videoTxt p {
    line-height: 25px;
}

.videoLobster .lobster {
    position: absolute;
    top: -25%;
    width: 300px;
}

.Lobster01 img {
    position: absolute;
    width: 20%;
    top: 100%;
    left: 1%;
}

.Lobster02 img {
    width: 15%;
    position: absolute;
    top: 90%;
    left: 0%;
}
.Lobster03 img {
    position: absolute;
    top: 50%;
    right: -15%;
    z-index: 0;
}

.Lobster04 img {
    width: 20%;
    position: absolute;
    top: -300px;
    left: -1%;
}
.locations-map{
  position: relative;
  margin: auto;
  max-width: 1130px;
}
.locations-map img{
  width: 100%;
}
.locationsMap2{
  display: none;
}
.lobster12Txt{
  position: absolute;
  width: 18%;
  height: 35px;
  right: 77%;
  top: 53%;
  transition: all .2s ease-in-out;
  z-index: 4;
  text-align: center;
  line-height: 1.8em;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: 1.2rem;
  background-color: #d8262e;
  color: #fff;
  transition: 1s;
  opacity: 0;
}
.lobster12:hover + .lobster12Txt{
  transition: 1s;
  opacity: 1;
}
.lobster1{
  position: absolute;
  left: auto;
  right: 10%;
  top: 30%;
  cursor: pointer;
}
.lobster2{
  position: absolute;
  left: auto;
  right: 25%;
  top: 35%;
  cursor: pointer;
}
.lobster3{
  position: absolute;
  left: auto;
  right: 30%;
  top: 60%;
  cursor: pointer;
}
.lobster4{
  position: absolute;
  left: auto;
  right: 15%;
  top: 80%;
  cursor: pointer;
}
.lobster5{
  position: absolute;
  left: auto;
  right: 15%;
  top: 50%;
  cursor: pointer;
}
.lobster6{
  position: absolute;
  left: auto;
  right: 80%;
  top: 55%;
  cursor: pointer;
}
.lobster7{
  position: absolute;
  left: auto;
  right: 82%;
  top: 50%;
  cursor: pointer;
}
.lobster8{
  position: absolute;
  left: auto;
  right: 83%;
  top: 25%;
  cursor: pointer;
}
.lobster9{
  position: absolute;
  left: auto;
  right: 86%;
  top: 35%;
  cursor: pointer;
}
.lobster10{
  position: absolute;
  left: auto;
  right: 50%;
  top: 70%;
  cursor: pointer;
}
.lobster11{
  position: absolute;
  left: auto;
  right: 55%;
  top: 73%;
  cursor: pointer;
}
.lobster12{
  position: absolute;
  left: auto;
  right: 93%;
  top: 60%;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
    .newsBoxBd .text {
        font-family: "微軟正黑體";
        text-align: left;
        width: 70%;
        max-width: 1000px;
        padding: 20px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 2em;
    }
    .newsBoxBd {
        overflow: hidden;
    }
    .mainbox a {
        right: 5px;
    }
    .redGrapefruit1 {
        top: 0%;
        left: -2%;
        width: 20%;
        height: 15%;
    }
    .redGrapefruit2 {
        top: 10%;
        left: 80%;
        height: 15%;
    }
    .redGrapefruit3 {
        top: 6%;
        left: 70%;
        width: 20%;
        height: 30%;
        z-index: 0;
    }
    .redGrapefruit4 {
        top: 81%;
        left: 80%;
        width: 20%;
        height: 35%;
    }
    .redGrapefruit5 {
        display: none;
    }
    .redGrapefruit6 {
        top: 5%;
        left: 2%;
        width: 20%;
        height: 55%;
    }
    .redGrapefruit7 {
        top: 80%;
        left: 80%;
        width: 20%;
        height: 50%;
    }
    .redGrapefruit8 {
        top: 60%;
        left: 0%;
        width: 20%;
        height: 65%;
    }
    .redGrapefruit9 {
        top: 70%;
        left: -8%;
        width: 20%;
        height: 60%;
    }
    .redGrapefruit10 {
        top: 70%;
        left: -5%;
        width: 20%;
        height: 70%;
    }
    /*=============page2=============*/
    .soccer img {
        display: none;
    }
    .fork img {
        display: none;
    }
    .knife img {
        display: none;
    }
    .spoon img {
      display: block;
      width: 10%;
      position: absolute;
      top: 90%;
      left: 1%;
  }
    .liveText {
        display: none;
    }
    /*=============page3=============*/
    .videoTxt {
        display: none;
    }
    .newsFancyBox .photoBeef3 {
        margin: 150px auto 0 auto;
    }
    .videoLobster .lobster {
      display: none;
    }
    .Lobster01 {
      display: none;
    }
    .Lobster02 {
      display: none;
    }
    .Lobster03 {
      display: none;
    }
    .Lobster04{

    }
    .Lobster04 img {
      position: absolute;
      width: 30%;
      top: 10%;
      left: -8%;
  }
  .locationsMap{
    display: none;
  }
  .locationsMap2{
    display: block;
    width: 100%;
  }
  .lobster1{
    display: none;
  }
  .lobster2{
    display: none;
  }
  .lobster3{
    display: none;
  }
  .lobster4{
    display: none;
  }
  .lobster5{
    display: none;
  }
  .lobster6{
    display: none;
  }
  .lobster7{
    display: none;
  }
  .lobster8{
    display: none;
  }
  .lobster9{
    display: none;
  }
  .lobster1{
    display: none;
  }
  .lobster10{
    display: none;
  }
  .lobster11{
    display: none;
  }
  .lobster12{
    display: none;
  }
}

