
.sp-loading {
    text-align: center;
    max-width: 270px;
    padding: 15px;
    border-radius: 3px;
    font-size: 12px;
    color: #888;
}

.sp-wrap {
    top: 200px;
    width: 960px;
    margin: 0 auto;
    left: 20%;
    display: none;
    border-radius: 3px;
    position: relative;
    float: left;
    z-index: 10;
    max-width: 60%;
}

.sp-thumbs {
    text-align: left;
    display: inline-block;
}

.sp-thumbs img {
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
}

.sp-thumbs a:link,
.sp-thumbs a:visited {
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: .3;
    display: inline-block;
    background-size: cover;
    background-position: center;
    transition: all .2s ease-out;
}

.sp-thumbs a:hover {
    opacity: 1;
}

.sp-thumbs a:active,
.sp-current {
    opacity: 1!important;
    position: relative;
}

.sp-large {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.sp-large a img {
    max-width: 100%;
    height: auto;
}

.sp-large a {
    display: block;
}

.sp-zoom {
    position: absolute;
    left: -50%;
    top: -50%;
    cursor: zoom-in;
    display: none;
}

.sp-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .9);
    z-index: 500;
    display: none;
    cursor: pointer;
}

.sp-lightbox img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
}

#sp-prev,
#sp-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 501;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    background: #000;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    transition: .2s;
}

#sp-prev {
    left: 10px;
}

#sp-prev:before {
    content: '';
    border: 7px solid transparent;
    position: absolute;
    top: 16px;
    left: 7px;
}

#sp-next {
    right: 10px;
}

#sp-next:before {
    content: '';
    border: 7px solid transparent;
    position: absolute;
    top: 16px;
    left: 18px;
}

#sp-prev:hover,
#sp-next:hover {
    background: #444;
}
@media screen and (max-width: 767px){
	.sp-wrap {
    /*top: 150px;*/
    width: 960px;
    margin: 0 auto;
    left: 10%;
    display: none;
    border-radius: 3px;
    position: relative;
    float: left;
    z-index: 10;
    max-width: 80%;
}
}