html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  /*outline: 1px solid #f0f;*/
}
/*============== warp start =================*/

.warp{
  height: 100%;
  position: fixed;
  display: block;
  z-index: 999;
}
.mubox{
  position: absolute;
  width: 230px;
  height: 100%;
  display: block;
  background: #fff;
  left: -135px;
  z-index: 99;
  transition: .1s;
  border-left: 1px solid transparent;
}
.mubox:hover{
  left: 0px;
}
.logo {
  float: right;
}
.logo img{
  vertical-align: middle;
  padding-top: 10px;
  width: 73px;
  height: 161px;
}
.icomu{
  position: absolute;
    bottom: 20px;
    right: 30px;
    width: 31px;
    display: block;
}
.menuLine{
  position: absolute;
  right: 0;
  width: 95px;
  height: 100%;
  border-left: 1px solid #222;
  border-style: dotted;
}
.menu{
    font-family: Helvetica;
    left: 0;
    margin: 8px 0 0 2px;
    padding: 0;
    position: absolute;
    bottom: 20px;
}
.first_menu{
    margin: 0 -35px 0 0;
    display: block;
    cursor: pointer;
}
.first_menu ul li{
    display: block;
    margin: 5px 10px;
    padding: 0 0 0 15px;
    background: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.first_menu ul li a{
    color: #938473;
    width: auto;
    height: auto;
    padding: 3px 6px 2px 10px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    transition: .5s;
}
.first_menu ul li a:hover{
  background-color: #c9c3bd;
  color: #FFFFFF;
}
.first_menu a{
  display: block;
  width: 94px;
  height: 38px;
  margin: 10px 0;
  padding-bottom: 20px;
  text-decoration: none;
  transition: .5s;
}
.menu .first_menu a:hover{
  background-color: #938473;
}
.menu .first_menu .area_menu{
  background: url("../img/icon/asset 156.gif") no-repeat;
  text-indent: -10000px;
}

.menu .second li{
  margin: 0px;
  display: block;
  cursor: pointer;
}
.menu .second li a:hover{
  background-color: #938473;
}

.menu .second .about01{
  background: url("../img/icon/asset 158.gif") no-repeat;
  text-indent: -10000px;
}
.menu .second .addiction02{
  background: url("../img/icon/asset 159.gif") no-repeat;
  text-indent: -10000px;
}
.menu .second .agenda03{
  background: url("../img/icon/asset 160.gif") no-repeat;
  text-indent: -10000px;
}
.menu .second .affection04{
  background: url("../img/icon/asset 161.gif") no-repeat;
  text-indent: -10000px;
}
.menu .second .access05{
  background: url("../img/icon/asset 162.gif") no-repeat;
  text-indent: -10000px;
}
.menu .second li a{
  display: block;
    width: 94px;
    height: 38px;
    padding-bottom: 20px;
    margin: 10px 0;
    text-decoration: none;
    transition: .5s;
}
/*============== warp close =================*/

/*====================Public area==============*/
#wrapper{
  position: relative;
  top: 0;
  width: 100%;
}
.hline{
    position: absolute;
    top: 15%;
    width: 100%;
    display: block;
    z-index: 3;
    text-align: center;
}
.hline img{
  vertical-align: middle;
}
.maxbox{
  margin: 0 0 0 95px;
}
.contxtbd{
    margin: 0 0 10px 0;
    padding: 0 8px;
    display: block;
    clear: both;
    overflow: hidden;
}
.contxtbd .left{
    float: left;
    width: 47%;
    line-height: 25px;
}
.contxtbd .right{
    float: right;
    width: 47%;
    line-height: 25px;
}
.contxtft{
    padding: 0 8px;
    display: block;
    clear: both;
    overflow: hidden;
}
.contxtft .left{
  float: left;
  width: 47%;
}
.contxtft .right{
  float: right;
  width: 47%;
}
.contxt h2{
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 16px;
}
.contxt4 h2{
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 16px;
}
.contxt6 h2{
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 16px;
}
.contxt8 h2{
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 16px;
}
.contxt10 h2{
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
}
.contxt p{
  line-height: 20px;
}
.contxt{
    position: absolute;
    bottom: 25px;
    left: 10%;
    display: block;
    right: 10%;
    font: 14px/18px "Gill Sans MT";
    color: #968673;
    z-index: 2;
    margin: 0 auto;
    max-width: 900px;
    z-index: 3;
}
.contxt4{
    position: absolute;
    bottom: 145px;
    left: 10%;
    display: block;
    right: 10%;
    font: 14px/18px "Gill Sans MT";
    color: #968673;
    z-index: 2;
    margin: 0 auto;
    max-width: 900px;
    z-index: 3;
}
.contxt6{
    position: absolute;
    bottom: 145px;
    left: 10%;
    display: block;
    right: 10%;
    font: 14px/18px "Gill Sans MT";
    color: #968673;
    z-index: 2;
    margin: 0 auto;
    max-width: 900px;
    z-index: 3;
}
.contxt8{
    position: absolute;
    bottom: 500px;
    left: 10%;
    display: block;
    right: 10%;
    font: 14px/18px "Gill Sans MT";
    color: #968673;
    z-index: 2;
    margin: 0 auto;
    max-width: 900px;
    z-index: 3;
}
.contxt10{
    display: block;
    position: absolute;
    bottom: 640px;
    left: 12%;
    right: 10%;
    font: 14px/18px "Gill Sans MT";
    color: #968673;
    z-index: 3;
    margin: 0 auto;
    max-width: 800px;
    height: 680px;
}
/*=====img 放大特效=====*/
.photo{
    overflow: hidden;
    width: 262px;
    height: 262px;
    position: relative;
}
.photo img{
      vertical-align: middle;
      transition: 1s;
      transform: scale(1);
}
.photo:hover img{
      animation: will 3s 2s;
      transform: scale(1.5);
}
/*====================Public area==============*/

/*============== unit1 star =================*/

.mask{
  position: absolute;
  width: 100%;
  height: 800px;
  background: rgba(0,0,0,.3);
}
.idx {
  padding-bottom: 800px;
}
.mainbox1{
  position: relative;
  background: url("../img/equipment/01-2.jpg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox1{
    position: relative;
    background: url("../img/equipment/01-2.jpg")  -550px no-repeat fixed;
    background-size: cover;
  }
}
/*============== arrow 動畫 ==============*/

.arrow {
  position: absolute;
  left: 50%;
  top: 85%;
  opacity: 0;
}

.arrow-1{
  animation: arrowmov 2s ease-in-out;
  animation-iteration-count: 3;
}

.arrow-2{
  animation: arrowmov 2s 1s ease-in-out;
  animation-iteration-count: 3;
}

.arrow:before,.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg)
  translateX(-23%);
  transform-origin: top left;
}
.arrow:after {
  transform: rotate(-45deg)
    translateX(23%);
  transform-origin: top right;
}
@keyframes arrowmov {
  0% {
    opacity: 0;
    top: 80%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*============== arrow ==============*/
.hline .unit1{
    position: absolute;
    display: block;
    bottom: 175px;
    margin-left: -8px;
    left: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}
/*============== unit1 close =================*/

/*============== unit2 star =================*/
.idx2{
  padding-bottom: 1340px;
}
.mainbox2{
  position: relative;
  background: url("../img/background/asset 33.jpeg") no-repeat fixed;
  background-size: cover;
}
.mainbox2 .bt{
  background: url("../img/icon/asset 7-1.png") no-repeat fixed;
  position: absolute;
  width: 100%;
  min-height: 500px;
  display: block;
  text-align: center;
  z-index: 5;
}
.bt img{
  position: relative;
  margin: auto;
  width: 480px;
  height: 580px;
  z-index: 6;
  vertical-align: middle;
}
.bgBox{
  background: url("../img/background/asset 143.jpeg");
  position: relative;
  width: 910px;
  height: 470px;
  margin: 0 auto 40px auto;
  padding: 40px 0 0 0;
  z-index: 7;
}
.bgPoint{
  position: absolute;
  top: 0;
  left: 0;
  width: 910px;
  height: 510px;
  background: url("../img/background/asset 164.png") repeat;
  background-color: #222;
  z-index: 8;
}
.bgPoint ul{
    float: left;
    position: relative;
    text-align: center;
    margin: 0 0 40px 25px;
}
.bgPoint li{
    width: 202px;
    height: 432px;
    float: left;
    position: relative;
    right: 0%;
    text-align: center;
    margin: 40px 18px 0 0;
}
.bgPoint ul li img{
  width: 202px;
  height: 432px;
  position: absolute;
  top: 0;
  left: 0;
}
.bgPoint .plus{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 63px;
  height: 63px;
  margin: -31px 0 0 -31px;
  background: url("../img/icon/asset 165.png") no-repeat;
  z-index: 10;
  cursor: pointer;
}
.bgPoint .eff_Mask{
  width: 202px;
  height: 432px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  opacity: 0;
  transition: .8s;
  transform: scale(1);
  z-index: 9;
  cursor: pointer;
}
.bgPoint li:hover .eff_Mask{
  transform: scale(1);
  opacity: 1;
}
/*============== unit2 close =================*/

/*============== unit3 start =================*/
.idx3{
  padding-bottom: 760px;
}
.mainbox3{
  position: relative;
  background: url("../img/background/asset 38.jpeg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox3{
    position: relative;
    background: url("../img/background/asset 38.jpeg") -480px no-repeat fixed;
    background-size: cover;
  }
}
/*============== arrow ==============*/
.hline .unit3{
    position: absolute;
    display: block;
    bottom: 180px;
    margin-left: -12px;
    left: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}
/*============== unit3 close =================*/

/*============== unit4 start =================*/
.idx4{
  padding-bottom: 920px;
}
.mainbox4{
  position: relative;
  background: url("../img/background/asset 20.jpeg") no-repeat fixed;
  background-size: cover;
}
.mainbox4 .bt4{
  background: url("../img/icon/asset 4-1.png") no-repeat fixed;
  position: absolute;
  width: 100%;
  min-height: 920px;
  display: block;
  text-align: center;
  z-index: 1;
}
#abgneBlock {
  
  position: absolute;
  width: 940px;
  height: 350px;
  display: block;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  margin-top: 100px;
  overflow: hidden;
  z-index: 2;
}
#abgneBlock ul.list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 9999px;
  height: 100%;
}
#abgneBlock ul.list li {
  float: left;
  width: 940px;
  height: 100%;
}
#abgneBlock .list img{
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}
#abgneBlock ul.playerControl {
  margin: auto;
  list-style: none;
  position: absolute;
  bottom: 0px;
  height: 14px;
}
#abgneBlock ul.playerControl li {
  float: left;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 0px 2px;
  background: url("../img/icon/asset 166.png") no-repeat 0 0;
}
#abgneBlock ul.playerControl li.current { 
  background-position: -23px 0;
}

#abgneBlock ul.playerControl li {
  float: left;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 0px 15px;
  background: url("../img/icon/asset 166.png") no-repeat 0px 0;
}
#abgneBlock ul.playerControl li.current { 
  background-position: 0 0;
}
/*============== unit4 close =================*/

/*============== unit5 start =================*/
.idx5{
  padding-bottom: 760px;
}
.mainbox5{
  position: relative;
  background: url("../img/background/asset 18.jpeg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox5{
    position: relative;
    background: url("../img/background/asset 18.jpeg") -550px no-repeat fixed;
    background-size: cover;
  }
}
/*============== arrow ==============*/
.hline .unit5{
    position: absolute;
    display: block;
    bottom: 168px;
    margin-left: -12px;
    left: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}
/*============== unit5 close =================*/

/*============== unit6 start =================*/
.idx6{
  padding-bottom: 1020px;
}
.mainbox6{
  position: relative;
  background: url("../img/background/asset 33.jpeg") no-repeat fixed;
  background-size: cover;
}
.mainbox6 .bt6{
  background: url("../img/icon/asset 34.png") no-repeat fixed;
  position: absolute;
  width: 100%;
  min-height: 920px;
  display: block;
  text-align: center;
  z-index: 1;
}
#abgneBlock2 {
  position: absolute;
  width: 415px;
  height: 400px;
  display: block;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  margin-top: 100px;
  overflow: hidden;
  z-index: 2;
}
#abgneBlock2 ul.list2 {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 9999px;
  height: 100%;
}
#abgneBlock2 ul.list2 li {
  float: left;
  width: 415px;
  height: 100%;
}
#abgneBlock2 .list2 img{
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}
#abgneBlock2 ul.playerControl2 {
  margin: auto;
  list-style: none;
  position: absolute;
  bottom: 0px;
  height: 14px;
}
#abgneBlock2 ul.playerControl2 li {
  float: left;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 0px 2px;
  background: url("../img/icon/asset 166.png") no-repeat 0 0;
}
#abgneBlock2 ul.playerControl2 li.current2 { 
  background-position: -23px 0;
}

#abgneBlock2 ul.playerControl2 li {
  float: left;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 0px 15px;
  background: url("../img/icon/asset 166.png") no-repeat 0px 0;
}
#abgneBlock2 ul.playerControl2 li.current2 { 
  background-position: 0 0;
}
/*============== unit6 close =================*/

/*============== unit7 start =================*/
.idx7{
  padding-bottom: 760px;
}
.mainbox7{
  position: relative;
  background: url("../img/background/horta_cozinha.jpg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbg7{
    position: relative;
    background: url("../img/background/horta_cozinha.jpg") -550px no-repeat fixed;
    background-size: cover;
  }
}
/*============== arrow ==============*/
.hline .unit7{
    position: absolute;
    display: block;
    bottom: 173px;
    margin-left: -12px;
    left: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}
/*============== unit7 close =================*/

/*============== unit8 start =================*/
.idx8{
  padding-bottom: 1480px;
}
.mainbox8{
  position: relative;
  background: url("../img/background/asset 20.jpeg") no-repeat fixed;
  background-size: cover;
}
.mainbox8 .bt8{
  background: url("../img/icon/asset 47.png") no-repeat fixed;
  position: absolute;
  width: 100%;
  min-height: 760px;
  display: block;
  text-align: center;
  z-index: 1;
}
#abgneBlock3 {
  position: absolute;
  width: 540px;
  height: 660px;
  display: block;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  margin-top: 100px;
  overflow: hidden;
  z-index: 2;
}
#abgneBlock3 ul.list3 {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 9999px;
  height: 100%;
}
#abgneBlock3 ul.list3 li {
  float: left;
  width: 540px;
  height: 100%;
}
#abgneBlock3 .list3 img{
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}
.bgBox2{
    position: absolute;
    bottom: 45px;
    left: 10%;
    right: 10%;
    display: block;
    z-index: 2;
    margin: 0 auto;
    max-width: 825px;
}
.mainbox8 ul{
    float: left;
    position: relative;
    left: 0%;
    text-align: center;
    margin: 0 0 0 0;
    width: 825px;
}
.mainbox8 ul li{
    width: 256px;
    height: 411px;
    float: left;
    position: relative;
    right: 0%;
    text-align: center;
    margin: 40px 18px 0 0;
}
.mainbox8 ul li img{
    width: 256px;
    height: 411px;
    position: absolute;
    top: 0;
    left: 0;
}
.mainbox8 .plus{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 63px;
    height: 63px;
    margin: -31px 0 0 -31px;
    background: url("../img/icon/asset 165.png") no-repeat;
    z-index: 10;
    cursor: pointer;
}
.mainbox8 .eff_Mask{
  width: 256px;
  height: 411px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  opacity: 0;
  transition: .8s;
  transform: scale(1);
  z-index: 9;
  cursor: pointer;
}
.mainbox8 li:hover .eff_Mask{
  transform: scale(1);
  opacity: 1;
}
/*============== unit8 close =================*/

/*============== unit9 start =================*/
.idx9{
  padding-bottom: 760px;
}
.mainbox9{
  position: relative;
  background: url("../img/background/bbq.jpg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox9{
    position: relative;
    background: url("../img/background/bbq.jpg") -550px no-repeat fixed;
    background-size: cover;
  }
}
/*============== arrow ==============*/
.hline .unit9{
    position: absolute;
    display: block;
    bottom: 144px;
    margin-left: 3px;
    left: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}
/*============== unit9 close =================*/

/*============== unit10 start =================*/
.idx10{
  padding-bottom: 2000px;
}
.mainbox10{
  position: relative;
  background: url("../img/background/asset 58.jpeg") no-repeat fixed;
  background-size: cover;
}
.mainbox10 .bt10{
  background: url("../img/icon/asset 59.png") no-repeat fixed;
  position: absolute;
  width: 100%;
  min-height: 920px;
  display: block;
  text-align: center;
  z-index: 1;
}
.bt10 img{
    position: relative;
    margin: auto;
    width: 803px;
    height: 503px;
    right: auto;
    left: auto;
    display: block;
    text-align: center;
    z-index: 51;
    margin-top: 100px;
}

.contxthd{
  position: relative;
  margin: 0 0 60px 0;
  width: 800px;
  height: 311px;
  
}
.contxthd .txt{
  width: 350px;
  float: left;
  padding: 0 50px 0 0;
  display: table-cell;
  zoom: 1;
  vertical-align: top;
  line-height: 23px;
}
.contxthd .txt p{
  padding-top: 15px;
}
.contxtft .txt p{
  padding-top: 15px;
}
.contxtft .txt{
  width: 350px;
  padding: 0 0 0 50px;
  display: table-cell;
  float: right;
  zoom: 1;
  vertical-align: top;
  line-height: 20px;
}
.contxthd .photo {
  width: 354px;
  height: 311px;
  float: right;
}
.contxthd .photo2 {
  width: 354px;
  height: 311px;
  float: right;
}
.smoke{
    background: url("../img/gosun/asset 65.png") no-repeat ;
    position: absolute; 
    bottom: -450px;
    width: 100%;
    height: 791px;
    text-align: center;
    z-index: 50;
}
.pot img{
    position: absolute;
    left: -12%;
    top: 625px;
    z-index: 2;
}
/*============== unit10 close =================*/

/*============== unit11 start =================*/
.idx11{
  padding-bottom: 760px;
}
.mainbox11{
  position: relative;
  background: url("../img/background/CC011_T_Email.jpg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox11{
    position: relative;
    background: url("../img/background/CC011_T_Email.jpg") -900px no-repeat fixed;
    background-size: cover;
  }
}
.ptslide{
  position: absolute;
  left: 3%;
  right: 3%;
  top: 10%;
  bottom: 10%;
  z-index: 3;
  margin: 0 auto;
  max-width: 1025px;
}
.ptslide .title{
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  float: left;
}
.ptslide .title img{
  padding: 180px 0 0 0;     /*上右下左*/
}
.ptslide .txt{
  max-width: 643px;
  color: #fff;
  font: 14px/18px "Gill Sans MT";
  z-index: 3;
  float: right;
}
.ptslide .txt p{
  line-height: 25px;
  margin: 0 0 30px 0;
}
.ptslide .last{
  margin: 0;
}
/*============== unit11 close =================*/

/*============== unit12 start =================*/
.idx12{
  padding-bottom: 615px;
}
.mainbox12{
  position: relative;
  background: url("../img/background/CC022_T_cooling.jpg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox12{
    position: relative;
    background: url("../img/background/CC022_T_cooling.jpg") -700px no-repeat fixed;
    background-size: cover;
  }
}
.ptslide2{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    z-index: 3;
}
.ptslide2 img{
  vertical-align: middle;
}
.petal1{
    background: url("../img/icon/onion.png") no-repeat ;
    position: absolute;
    left:-50px; 
    top: 130px;
    width: 488px;
    height: 405px;
    text-align: center;
    z-index: -1;
}
.petal2{
  background: url("../img/icon/asset 130.png") no-repeat ;
    position: absolute;
    top:-60px; 
    right: 555px;
    width: 327px;
    height: 638px;
    text-align: center;
    z-index: -1;
  
}
.petal3{
  background: url("../img/icon/Romanvegetables .png") no-repeat ;
    position: absolute;
    right: 190px; 
    bottom: -600px;
    width: 295px;
    height: 1050px;
    text-align: center;
    z-index: -1;
}
.petal4{
    background: url("../img/icon/potato.png")  no-repeat ;
    transform: rotate(-25deg);
    position: absolute;
    top:10px; 
    right: 50%;
    width: 488px;
    height: 640px;
    text-align: center;
    z-index: -1;
}
/*============== unit12 close =================*/

/*============== unit13 start =================*/
.idx13{
  padding-bottom: 635px;
}
.mainbox13{
  position: relative;
  background: url("../img/background/asset 143.jpeg") no-repeat fixed;
  background-size: cover;
}
.ptslide3{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    z-index: 3;
}
.viewport_13 {
    position: absolute;
    top: 0;
    left: 15%;
    padding: 100px 0 0 280px;
}
.viewport_13 .title{
    position: absolute;
    top: 10%;
    left: 0;
    margin-top: 122px;
    z-index: 3;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-slide{
  display: block;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 0 20px;

}
.slickLiBox{
    position: relative;
    width: 262px;
    height: 382px;
    padding-bottom: 24px;
    background: url("../img/icon/asset 168.png") -6px 387px no-repeat;
    z-index: 5;
}
.slickLiBox a{
  text-decoration: none;
}
.slick-current{
  display: block;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 0 10px;
}
.slick-current2{
  display: block;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 0 10px;
}
.slick-current3{
  display: block;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 0 10px;
}
.photo{
    overflow: hidden;
    width: 262px;
    height: 262px;
    position: relative;
}
.conMain{
    padding: 10px 15px 15px 15px;
    text-align: left;
    color: #777;
    background: #ededed;
}
.date{
  font-size: 16px;
  line-height: 1.3em;
}
.areaMain{
  font-family: "微軟正黑體";
  font-size: 18px;
  line-height: 1.4em;
  margin: 0 0 5px 0;
}
.titleMain{
    font-family: "微軟正黑體";
    color: #222;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
}

/*============== unit13 close =================*/

/*============== unit14 start =================*/
.idx14{
  padding-bottom: 1120px;
}
.mainbox14{
  position: relative;
  background: url("../img/background/bg-marble.jpg") no-repeat fixed;
  background-size: cover;
}
.parallex4{
  height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.people {
    background-image: url("../img/amon/Photo Wall-14.png");
    width: 407px;
    height: 1674px;
    position: absolute;
    top: -231px;
    left: 5%;
    display: block;
    z-index: 3;
}

.affbox {
    position: absolute;
    top: 14%;
    left: 220%;
    display: block;
    width: 420px;
    padding: 30px 0 0 0;
    z-index: 3;
}
.flip-container {
    margin-top: 30px;
    margin-bottom: 30px;
    perspective: 1000;
    float: left;
}

.flip-container2 {
    margin-top: 30px;
    margin-bottom: 30px;
    perspective: 1000;
    float: right;
}


/* 翻轉視窗180度 */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container2:hover .flipper,
.flip-container2.hover .flipper {
    transform: rotateY(180deg);
}


.flip-container,
.front,
.back {
    width: 178px;
    height: 170px;
}

.flip-container2,
.front,
.back {
    width: 178px;
    height: 170px;
}
/* flip speed goes here */

.flipper {
    transition: 1s;
    transform-style: preserve-3d;

    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

.front img {
    border-radius: 50%;
}

.back img {
    border-radius: 50%;
}

.affbox .txt {
    text-align: left;
    font: 12px/16px "Gill Sans MT";
    margin: 20px 0 18px 0;
    color: #3c3d3d;
}


.row {
    clear: both;
    overflow: hidden;
    padding: 5px 0;
    margin: 0 0 7px 0;
    background: #e4e4e4;
}
.row label{

    float: left;
    width: 85px;
    padding: 0 0 0 20px;
    font: 13px/15px "Gill Sans MT";
    color: #969696;
    background: url(../img/icon/affection-icon.gif) no-repeat 10px 4px;
}
.col {
  position: relative;
  left: 365%;
  top: 85%;
  float: right;
  width: 305px;
}
.row input{
    width: 305px;
    font: 13px/22px "Gill Sans MT";
    color: #505050;
    border: 0;
    background: #e4e4e4;
}
fieldset .btn{
    width: 160px;
    height: 31px;
    border: 0;
    background: url("../img/icon/asset 171.jpeg") no-repeat 0 0;
    cursor: pointer;
}

.bgPoint01{
  position: absolute;
  top: 0;
  left: 0px;
  width: 407px;
  height: 1674px;
  background: url("../img/background/point.png") repeat;
/*  opacity: .6;*/
  z-index: 4;
}
/*============== unit14 close =================*/

/*============== unit15 start =================*/
.idx15{
  padding-bottom: 860px;
}
.mainbox15{
  position: relative;
  background: url("../img/background/asset\ 154-2.jpg") no-repeat fixed;
  background-size: cover;
}
@media(max-width: 768px){
    .mainbox15{
    position: relative;
    background: url("../img/background/asset 154.jpeg") -300px no-repeat fixed;
    background-size: cover;
  }
}
.mask2{
  position: absolute;
  width: 100%;
  height: 860px;
  background: rgba(0,0,0,.7);
}
.parallex5{
  height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.bt15{
		position: absolute;
		background: url("../img/icon/logo-15.png") no-repeat fixed;
    top: 26px;
    left: 0;
    width: 100%;
    height: 133px;
    display: block;
    text-align: center;
    z-index: 3;
}
.accbox{
		position: absolute;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -430px;
    width: 720px;
    padding: 40px 70px 45px 80px;
    color: #756b5f;
    font: 12px/18px "Gill Sans MT";
    z-index: 3;
    background: url(../img/background/bg15.png);
}
.accboxhd{
		display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background: url("../img/background/asset 173.png") repeat-x bottom;
}
.accboxhd .txt {
    float: right;
    width: 350px;
    font: 13px/18px "Gill Sans MT";
}
.accboxhd .txt p{
  margin: 2px 0 25px 0;
}
.accboxhd .txt a{
  color: #756b5f;
}
.accboxbd{
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 10px 5px 0 5px;
}
.accboxbd .left{
  float: left;
  width: 280px;
}
.accboxbd .right{
  float: right;
  width: 350px;
}
.copyright{
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 3;
    font: 11px/18px "Gill Sans MT";
    color: #827a70;
}
#map {
	  float: left;
    width: 325px;
    height: 323px;
}
/*============== unit15 close =================*/

/*============== back_Top =================*/

.back_Top {
    right: 40px;
    bottom: 40px;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    z-index: 20;
    transition: 1s;
    opacity: 1;
}
.back_Top a{
  cursor: pointer;
}
.back_Top img {
    width: 100%;
    height: 100%;

}
.back_Top img:hover{
    opacity: .6;
}